.div-equipo {
	display: flex;
	justify-content: center;
}

.equipo {
	width: 100%;
	max-width: 1120px;
	display: flex;
	flex-direction: column;
}

.equipo h3 {
	font-family: "Prata", serif;
	font-size: 32px;
	font-weight: 400;
	color: #212121;
	border-bottom: 4px solid;
	padding-bottom: 3px;
	align-self: center;
}

.colaboradores {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media screen and (max-width: 900px) {
	.equipo {
		width: 95%;
	}
	.equipo h3 {
		font-size: 23px;
	}
}
